* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

:root {
  --bg_pr: #0f0f0f;
}

button {
  border: none;
  outline: none;
  cursor: pointer;
  background: none;
}

img {
  object-fit: cover;
}

.container {
  margin: 0 auto;
  padding-inline: 1rem;
  max-width: 1900px;
  width: 100%;
}

a {
  color: inherit;
  text-decoration: inherit;
}

body {
  background: var(--bg_pr);
}

.overlay {
  position: fixed;
  backdrop-filter: brightness(0.6);
  height: 100vh;
  width: 100%;
  top: 0;
  left: 0;
  display: none;
}

/* Header */

header {
  position: fixed;
  width: 100%;
  padding-block: 18px;

  .container {
    nav {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .sidebar {
        height: 100vh;
        width: 300px;
        position: fixed;
        left: 0;
        top: 80px;
        background: var(--bg_pr);
        transform: translateX(-100%);
        transition: 0.2s ease-out;
        display: flex;
        flex-direction: column;
        align-items: start;

        button {
          color: white;
          padding: 10px 20px;
          width: 100%;
          font-size: 1rem;
          font-weight: 600;
          text-align: start;
          transition: 0.2s ease-in-out;

          &:hover {
            background: #d3d3d35d;
          }
        }

        hr {
          width: 100%;
        }
      }

      .nav_left {
        display: flex;
        gap: calc(8px + 16px);
      }

      .nav_search {
        display: flex;
        gap: 1rem;

        .search_input {
          display: flex;
          align-items: center;
          position: relative;

          input {
            width: 540px;
            height: 40px;
            border-radius: 20px;
            background: transparent;
            border: 1px solid gray;
            outline: none;
            padding-left: 1rem;
            font-size: 1rem;
            color: white;

            &:focus {
              border: 1px solid aqua;
            }
          }

          button {
            position: absolute;
            right: 0;
            background: gray;
            height: 100%;
            width: 50px;
            border-radius: 0 20px 20px 0;

            svg {
              transform: scale(0.6);
            }
          }
        }

        #nav_search_mic {
          height: 40px;
          background: gray;
          border-radius: 50%;

          svg {
            transform: scale(0.7);
          }
        }

        .nav_search_mic_modal {
          position: fixed;
          height: 400px;
          width: 600px;
          background: #202020;
          left: 50%;
          transform: translateX(-50%);
          color: white;
          padding: 40px 30px;
          display: none;

          .nav_search_mic_modal_close {
            position: absolute;
            top: 0px;
            right: 10px;
            color: white;
            font-size: 2rem;
          }

          h2 {
            font-weight: 500;
          }

          p {
            color: lightgray;
            font-size: 14px;
            margin-top: 1rem;
          }

          div {
            margin-top: 30%;
            display: flex;
            justify-content: center;

            button {
              background: gray;
              height: 60px;
              padding: 10px;
              border-radius: 50%;
            }
          }
        }
      }

      .nav_right {
        position: relative;
        display: flex;
        gap: 1rem;

        #nav_create {
          background: gray;
          height: 35px;
          border-radius: 20px;
          padding: 0 1rem;
          font-size: 0.9rem;
          font-weight: 500;
          color: white;
        }

        .nav_create_modal {
          position: fixed;
          background: gray;
          height: 100px;
          width: 200px;
          top: 60px;
          border-radius: 10px;
          display: none;

          button {
            width: 100%;
            height: calc(100% / 3);
            font-size: 0.9rem;
            font-weight: 500;
            color: white;
            transition: 0.2s ease-in-out;

            &:hover {
              background: #d3d3d35d;
            }
          }
        }

        .nav_bell_modal {
          position: fixed;
          background: gray;
          height: 500px;
          width: 400px;
          top: 60px;
          right: 75px;
          border-radius: 10px;
          padding: 15px;
          color: white;
          display: none;

          hr {
            width: 100%;
            color: white;
            margin-block: 10px;
          }

          ul {
            list-style: none;
            display: flex;
            flex-direction: column;
            font-size: 1.5rem;

            li {
              width: 100%;
              cursor: pointer;
              transition: 0.2s ease-in-out;
              padding-block: 10px;

              &:hover {
                background: #d3d3d35d;
              }
            }
          }
        }

        #nav_profile {
          height: 35px;
          border-radius: 50%;
          display: flex;
          overflow: hidden;
        }

        #nav_profile img {
          pointer-events: none;
        }

        .nav_profile_modal {
          position: fixed;
          background: gray;
          height: 700px;
          width: 300px;
          top: 60px;
          right: 1rem;
          border-radius: 10px;
          padding: 15px;
          color: white;
          display: none;

          .nav_profile_modal_avatar {
            display: flex;
            margin-bottom: 1rem;
            gap: 10px;

            img {
              border-radius: 50%;
              height: 50px;
              width: 50px;
            }

            a {
              color: cyan;
            }
          }

          hr {
            color: white;
            margin-block: 10px;
          }

          .nav_profile_modal_buttons {
            display: flex;
            flex-direction: column;
            align-items: start;

            button {
              font-size: 1rem;
              color: white;
              font-weight: 400;
              padding: 10px 15px;
              transition: 0.2s ease-in-out;
              width: 100%;
              text-align: left;

              &:hover {
                background: #d3d3d35d;
              }
            }
          }
        }
      }
    }
  }
}
